{% if site.social.github.user and site.social.github.repo %}
<li>
    <iframe class="github-btn"
            src="https://ghbtns.com/github-btn.html?user={{ site.social.github.user }}&amp;repo={{ site.social.github.repo }}&amp;type=watch&amp;count=true"
            width="90"
            height="20"
            title="Star on GitHub"></iframe>
</li>
<li>
    <iframe class="github-btn"
            src="https://ghbtns.com/github-btn.html?user={{ site.social.github.user }}&amp;repo={{ site.social.github.repo }}&amp;type=fork&amp;count=true"
            width="90"
            height="20"
            title="Fork on GitHub"></iframe>
</li>
{% endif %}
